{% extends "index/base.html" %}

{% load static %}

{% block content %}
    <form method="post" action=".">
        <div class="container mt-3">
            <h2>Formulario</h2>
            <p>Codigo Humano</p>            
            <h3>{{ title }}</h3>
        

            <hr>
            {% csrf_token %}

            <input type="hidden" name="action" value="{{ action }}">

            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Alerta!</strong> 
                <ul>
                    {% for field  in form %}
                    {% for error in field.errors %}

                        <li>{{ error }}</li>


                    {% endfor %}
                    {% endfor %}
                </ul>
              </div>
            {% endif %}

            <div class="alert alert-danger">
                <strong>Notificacion</strong> Estas seguro de eliminar a {{object.id}}
              </div>

            
            
            <hr>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btnTest"><i class="bi bi-plus-circle"></i> Si, aceptar</button>
                <a href="{{ list_url }}" class="btn btn-info btnTest"><i class="bi bi-x-circle"></i> Cancelar</a>
            </div>
        </div>
        
    </form>



{% endblock %}

{% block lolo %}
<script>

   //PRESIONA BOTON ENVIAR Y SE ELIMINA LA CATEGORIA
   $('form').on('submit', function (e){
        e.preventDefault();
        var parametros = new FormData(this);

        submit_with_ajax(window.location.pathname,'Notificacion', 'Seguro de Eliminar?',parametros, function(){
            location.href = '{{ list_url }}';
        });
        

        
    });

    
    
</script>
{% endblock %}