<html>
  <head>
    {% load static %} {% load widget_tweaks %}
    <!-- Bootstrap -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <link href="{% static 'css/estilos.css' %}" rel="stylesheet" />
    
    <!--JQUERYCONFIRM-->
    <link
      href="{% static 'vendor/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <!--INICIAR SESION-->
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-2">
                  <h2 class="fw-bold mb-2 text-uppercase">Cambio de Contraseña</h2>

                    <!--Formulario-->
                  <form action="." method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="form-outline form-white mb-4">
                      {{ form.password }}
                    </div>

                    <div class="form-outline form-white mb-4">
                        {{ form.confirmarPassword }}
                      </div>

                    <button
                      class="btn btn-outline-light btn-lg px-5"
                      type="submit">
                      <i class="bi bi-lock-fill"></i> Cambiar Contraseña
                    </button>
                  </form>
                </div>

                
                <div>
                  <p class="mb-0">
                    <a class="text-white-50" href="{% url 'login' %}"
                      >Dar clic aqui si deseas volver al login!</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- JS Bootstrap -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
        $( function (){
            $('form').on('submit', function (e){
                e.preventDefault();
                var parametros = new FormData(this);
        
                submit_with_ajax(window.location.pathname,'Notificacion', 'Seguro de cambiar la contraseña?', parametros, function(){
                    Swal.fire({
                        title: 'Notificacion',
                        text: 'Se ha cambiado la contraseña',
                        icon: 'success',
                        timer: 5000
                        
                    }).then((result) =>{
                        location.href = '/login/'
                });
                
        
                
            });
        
        });
    });
    </script>


    <script src="{% static 'js/funciones.js' %}"></script>
    <!--JQUERYCONFIRM-->
    <script src="{% static 'vendor/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
