{% extends "index/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% block content %}
    
        <div class="container mt-3">
            <h2>Formulario</h2>
            <p>Codigo Humano</p>            
            <h3>
                {% if action == 'add' %}
                    <i class="bi bi-plus-circle"></i>

                {% else %}
                    <i class="bi bi-pencil-square"></i>

                {% endif %}

                {{ title }}
            </h3>
        

            <hr>
            {% csrf_token %}

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card bg-primary">
                            <div class="card-header">
                                <h3 class="card-title">Detalle Venta</h3>
                            </div>
                            <div class="card-body card bg-white text-black">
                                <div class="form-group">
                                    <label>Buscador de Productos:</label>
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control" placeholder="Ingrese Descripcion" autocomplete="off">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-danger btn-flat">X</button>
                                        </span>
                                    </div>
                                    <hr>
                                    <button type="button" class="btn btn-warning btn-sm btnRemove">
                                        <i class="bi bi-trash-fill"></i> VACIAR
                                    </button>
                                </div>
                                <hr>
                                
                                <table class="table table-primary" id="tblProductos" >
                                    <thead>
                                      <tr>
                                          <th scope="col">Eliminar</th>
                                          <th scope="col">Producto</th>
                                          <th scope="col">Categoria</th>
                                          <th scope="col">PVP</th>
                                          <th scope="col">Cantidad</th>
                                          <th scope="col">Subtotal</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                       <!-- {% for cli in object_list %}
                                       <tr>
                                          <td>{{ cli.id }}</td>
                                          <td>{{ cli.nombre }}</td>
                                          <td>{{ cli.apellido }}</td>
                                          <td>{{ cli.dni }}</td>
                                          <td>{{ cli.f_nacimiento }}</td>
                                          <td>{{ cli.direccion }}</td>
                                          <td>{{ cli.sexo }}</td>
                                          <td class="text-center">
                                              <a href="#" class="btn btn-warning btn-xs btn-flat">
                                                  <i class="bi bi-pencil-square"></i>
                                              </a>
                                              <a href="#" class="btn btn-danger btn-xs btn-flat">
                                                  <i class="bi bi-trash-fill"></i>
                                              </a>
                                          </td>
                                      </tr>
                                      {% endfor %}  -->
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-lg-4">
                        <div class="card bg-primary">
                            <div class="card-header">
                                <h3 class="card-title">Factura <i class="bi bi-basket3"></i></h3>
                            </div>
                            <div class="card-body card bg-white text-black">
                                <div class="form-group">
                                    <label>Fecha de Venta:</label>
                                    {{ form.f_registro }}
                                </div>
                                <div class="form-group">
                                    <label>Cliente:</label>
                                    {{ form.cliente }}
                                </div>
                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    {{ form.subtotal }}
                                </div>
                                <div class="form-group">
                                    <label>Iva:</label>
                                    {{ form.iva }}
                                </div>
                                <div class="form-group">
                                    <label>IVA Calculado:</label>
                                    <input type="text" class="form-control" readonly name="ivacal" value="0.0">
                                </div>
                                <div class="form-group">
                                    <label>Total a pagar:</label>
                                    {{ form.total }}
                                </div>
                                <hr>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            {% comment %} <input type="hidden" name="action" value="{{ action }}"> {% endcomment %}

            <!--MANEJO DE ERRORES-->
            {% comment %} {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Alerta!</strong> 
                <ul>
                    {% for field  in form %}
                        {% for error in field.errors %}

                            <li>{{ error }}</li>


                        {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}

                        <li>{{ error }}</li>

                    {% endfor %}
                </ul>
              </div>
            {% endif %}
              <!--Insertar todos los campos de la tabla en el formulario-->
              {% for field  in form.visible_fields %}
            <div class="form-group">
                <label for="email">{{ field.label }}:</label>
                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
            </div>
                
            {% endfor %} {% endcomment %}
            
            <hr>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btnTest"><i class="bi bi-plus-circle"></i> Guardar</button>
                <a href="{{ list_url }}" class="btn btn-info btnTest"><i class="bi bi-x-circle"></i> Cancelar</a>
            </div>
        </div>
        
    



{% endblock %}

{% block lolo %}

<script>
   //PRESIONA BOTON ENVIAR Y SE GUARDA NUEVA CATEGORIA
    $('form').on('submit', function (e){
        e.preventDefault();
        var parametros = new FormData(this);

        submit_with_ajax(window.location.pathname,'Notificacion', 'Seguro de Realizar la siguiente accion?', parametros, function(){
            location.href = '{{ list_url }}';
        });
        

        
    });   
</script>
                    
<script type="application/javascript">
    $(function () {
        $('.select2').select2({
            
        });

//CALENDARIO
        $('#f_registro').datetimepicker({
            format: 'YYYY-MM-DD',
            date: moment().format("YYYY-MM-DD"),
            locale: 'es'
            //maxDate: moment().format("YYYY-MM-DD")
        });

        $("input[name='iva']").TouchSpin({
            min: 0,
            max: 100,
            step: 0.01,
            decimals: 2,
            boostat:5,
            maxboostedstep: 10,
            postfix: '%'
        }).on('change', function(){
            ventas.calcular_factura();
        }).val(0.12);
    });

    

</script>

{% endblock %}

{% block head_list %}
 <script src="{% static 'ventas/js/ventas.js' %}"></script>
{% endblock %}