{% extends "index/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% block content %}
    
        <div class="container mt-3">
            <h2>Formulario</h2>
            <p>Codigo Humano</p>            
            <h3>
                {% if action == 'add' %}
                    <i class="bi bi-plus-circle"></i>

                {% else %}
                    <i class="bi bi-pencil-square"></i>

                {% endif %}

                {{ title }}
            </h3>
        

            <hr>
            {% csrf_token %}
    <form id="frmVenta" method="post">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card bg-primary">
                            <div class="card-header">
                                <h3 class="card-title">Detalle Venta</h3>
                            </div>
                            <div class="card-body card bg-white text-black">
                                <div class="form-group">
                                    <label>Buscador de Productos:</label>
                                    <div class="input-group">
                                        <div class="input-group mb-3">
                                            <select class="form-control select2"  name="search"> </select>
                                            {% comment %} <input type="text" class="form-control" autocomplete="off" placeholder="Ingrese descripcion" maxlength="50" name="search"> {% endcomment %}
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Opciones
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li><a class="dropdown-item btnBuscarPro" href="#"><i class="bi bi-search"></i> Buscar Productos</a></li>
                                              <li><a class="dropdown-item btnLimpiar" ><i class="bi bi-x-lg"></i> Limpiar</a></li>
                                              
                                            </ul>
                                          </div>
                                          
                                        
                                    </div>
                                    <hr>
                                    <button type="button" class="btn btn-warning btn-sm btnRemove">
                                        <i class="bi bi-trash-fill"></i> VACIAR
                                    </button>
                                </div>
                                <hr>
                                
                                <table class="table table-primary" id="tblProductos" >
                                    <thead>
                                      <tr>
                                          <th scope="col">Eliminar</th>
                                          <th scope="col">Producto</th>
                                          <th scope="col">Stock</th>
                                          <th scope="col">PVP</th>
                                          <th scope="col">Cantidad</th>
                                          <th scope="col">Subtotal</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-lg-4">
                        <div class="card bg-primary">
                            <div class="card-header">
                                <h3 class="card-title">Factura <i class="bi bi-basket3"></i></h3>
                            </div>
                            <div class="card-body card bg-white text-black">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de Venta:</label>
                                    {{ form.f_registro }}
                                </div>
                                <div class="form-group">
                                    <label>Cliente:</label>
                                    
                                    <div class="input-group">
                                        {{ form.cliente }}
                                        <button class="btn btn-success btnAddCliente" type="button">
                                            <i class="bi bi-person-add"></i>
                                        </button>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    {{ form.subtotal }}
                                </div>
                                <div class="form-group">
                                    <label>Iva:</label>
                                    {{ form.iva }}
                                </div>
                                <div class="form-group">
                                    <label>IVA Calculado:</label>
                                    <input type="text" class="form-control" readonly name="ivacal"  value="0.00" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>Total a pagar:</label>
                                    {{ form.total }}
                                </div>
                                <hr>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
                        
            <hr>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btnTest"><i class="bi bi-save"></i> Guardar</button>
                <a href="{{ list_url }}" class="btn btn-info btnTest"><i class="bi bi-x-circle"></i> Cancelar</a>
            </div>
        </div>
        
    </form>


    <!--MODAL-->
    <div class="modal fade" id="ModalCliente" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <form method="post" id="frmCliente" enctype="multipart/form-data">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      <b> <i class="bi bi-person-fill-add"></i> Nuevo Registro Clientes</b> 
                  </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {% for field  in frmCliente.visible_fields %}
                        <div class="form-group">
                            <label for="email">{{ field.label }}:</label>
                            {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                        </div>
                
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-person-fill-add"></i> Guardar
                    </button>
                  </div>
                </div>
              </div>
        </form>
        
      </div>
<!--MODAL DE Producto-->
      <div class="modal fade" id="ModalProducto" aria-hidden="true"  tabindex="-1">
        <form method="post" id="" enctype="multipart/form-data">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      <b> <i class="bi bi-search"></i> Busqueda de Productos</b> 
                  </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-primary table-hover" id="tblBuscarProd" >
                        <thead>
                          <tr>
                              
                              <th scope="col">Producto</th>
                              <th scope="col">Imagen</th>
                              <th scope="col">Stock</th>
                              <th scope="col">Precio Unitario</th>
                              <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                      </table>
                  </div>
                  
                </div>
              </div>
        </form>
        
      </div>
      


{% endblock %}

{% block lolo %}


                    
<script type="application/javascript">
    $(function () {
        $('.select2').select2({
            
        });

//CALENDARIO
var fecha_r = $('input[name="f_registro"]');

        fecha_r.datetimepicker({
            format: 'YYYY-MM-DD',
            //date: moment().format("YYYY-MM-DD"),
            locale: 'es',
            keepOpen: false,
            //maxDate: moment().format("YYYY-MM-DD")
        });
        //inserta fecha anterior
        fecha_r.datetimepicker('date', fecha_r.val());

        $("input[name='iva']").TouchSpin({
            min: 0,
            max: 100,
            step: 0.01,
            decimals: 2,
            boostat:5,
            maxboostedstep: 10,
            postfix: '%'
        }).on('change', function(){
            ventas.calcular_factura();
        })
            .val(0.12); 
    });
    
</script>



{% endblock %}

{% block head_list %}
 <script src="{% static 'ventas/js/ventas.js' %}"></script>
 <script src="{% static 'js/funciones.js' %}"></script>
 <script>
    ventas.items.productos = {{ det|safe }}
    //ventas.list();
</script>
 
{% endblock %}